{% extends 'base.html' %}
{% load static %} {% load sass_tags %}
  {% block style %}
    <link
      href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={% sass_src 'quietPlace/scss/cafe.scss' %}/>
  {% endblock style %}

  {% block js%}
    <!-- 네이버 지도를 위한 코드 -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=u2k6flryoy"></script>
    <!-- 주소를 사용해 위도 경도를 알아내기 위한 모듈 -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=u2k6flryoy&submodules=geocoder"></script>
  {% endblock js%}


  {% block content %}
    <div>
    <div>
      <main>
        <div class="cafe_layout">
          <div class="cafe_card">
            <div class="cafe_card_img" style="background-image: url('{{cafe_photos.0.cafe_img.url}}')">
              <h5 class="more-photo">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                  <strong>사진 더보기 > </strong>
                </button>
              </h5>
            </div>
            <div class="cafe_card_header">
              <h2>{{ cafe.cafe_name }}</h2>
              <!-- 좋아요 아이콘 누르면 빨갛게 변하게하기 -->
              <div class="meta__favorites like-container">
              {% if user.is_authenticated %}
                <a style="color: #616161"
                  href="#" id='{{ cafe.id }}-like-button' onclick="onClickLikeButton({{cafe.id}})"
                > 
                  {% if user in cafe.like_users.all %}
                    <i class="material-icons" role="presentation" style="color: #dc3545;">favorite</i> <span id="cafe-count">{{ cafe.like_users.count }}</span>
                  {% else %}
                    <i class="material-icons" role="presentation" style="color: #616161;">favorite</i> <span id="cafe-count">{{ cafe.like_users.count }}</span>
                  {% endif %}
                </a>
              {% else %}
                  <i class="material-icons" role="presentation" style="color: #dc3545;">favorite</i> <span id="cafe-count">{{ cafe.like_users.count }}</span>
              {% endif %}  
              </div>
            </div>
            <div class="cafe_box">
              <div class="cafe-description-box">  
                <h3>카페 소개</h3>
                <p>
                  {{ cafe.cafe_description }}
                </p>
              </div>
              <div class="cafe-detail-box">
                <h3>상세 정보</h3>
                <p>
                  영업 시간 : {{ cafe.working_hour }}
                  <br>
                  영업 상세 : {{ cafe.working_detail }} 
                  <br>
                  대표 전화 : {{ cafe.phone }}
                </p>
              </div>
              <h3>태그</h3>
              <div class="cafe-tags">
                <div class="tag-column">
                  <div class="tag-row">
                    <img class="cafe_tag_icon" src="{% static 'quietPlace/img/no-sound.svg'%}" alt="">
                    <strong>소음 수준: {{ cafe.tag.volume|slice:":-10" }}</strong>
                  </div>
                  <div class="tag-row">
                    <img class="cafe_tag_icon" src="{% static 'quietPlace/img/dining.svg'%}" alt="">
                    <strong>의자: {{ cafe.tag.chair|slice:":-10" }}</strong>
                  </div>
                  <div class="tag-row">
                    <img class="cafe_tag_icon" src="{% static 'quietPlace/img/plugging.svg'%}" alt="">
                    <strong>콘센트 좌석: {{ cafe.tag.socket|slice:":-10" }}</strong>
                  </div>
                  <div class="tag-row">
                    <img class="cafe_tag_icon" src="{% static 'quietPlace/img/free-icon-cafe-1139699.png'%}" alt="">
                    <strong>공간 크기: {{ cafe.tag.place_size|slice:":-10" }}</strong>
                  </div>
                </div>
                <div class="tag-column">
                  <div class="tag-row">
                    <img class="cafe_tag_icon" src="{% static 'quietPlace/img/sanitary.svg'%}" alt="">
                    <strong>화장실: {{ cafe.tag.bathroom|slice:":-10" }}</strong>
                  </div>
                  <div class="tag-row">
                    <img class="cafe_tag_icon" src="{% static 'quietPlace/img/table.svg'%}" alt="">
                    <strong>테이블 크기: {{ cafe.tag.table|slice:":-10" }}</strong>
                  </div>
                  <div class="tag-row">
                    <img class="cafe_tag_icon" src="{% static 'quietPlace/img/coworking.svg'%}" alt="">
                    <strong>다인원 토론공간: {{ cafe.tag.discussion_room|slice:":-10" }}</strong>
                  </div>
                  <div class="tag-row">
                    <img class="cafe_tag_icon" src="{% static 'quietPlace/img/free-icon-booking-5110947.png'%}" alt="">
                    <strong>예약 가능 여부: {{ cafe.tag.booking_available|slice:":-10" }}</strong>
                  </div>
                </div>
              </div>  
              {% comment %} 아래는 지도가 들어가야해 {% endcomment %}
              <h3>지도</h3>
              <div class="map_box">
                <div id="map" style="width:600px;height:400px;"></div>
              </div>
                <!-- <img src="{% static 'quietPlace/img/리멤버미위치.png'%}" alt="" /> -->
            <!-- 댓글 관련 div 시작 -->
            <div class="review_area">
              <div class="review_heading">
                <div class="reviews_heading_title"><h3>리뷰</h3></div>
                <div><strong class="review_heading_count">리뷰가 {{ reviews_num }}개 있습니다</strong></div>
              </div>
              {% if user.is_authenticated %}
              <div>
                <div>
                  <input id="review-input" class="review_input_area" type="text" name="content" placeholder="리뷰를 작성해주세요!"></input>
                </div>
                <button class="review-submit-button" onclick="onReviewCreate({{cafe.id}})">작성하기</button>
              </div>
              {% endif %}
              <!-- 실제 댓글들 시작 -->
              <!-- 리뷰가 없다면 리뷰가 없어요 띄워주자! -->
              <div id="{{cafe.id}}-review-list">
                {% for review in cafe.review_set.all %}
                  <div id="{{review.id}}-review" class="comment mdl-color-text--grey-700 review">
                    <header class="comment__header">
                        <!-- 프로필사진 이미지-->
                      {% if user.profile.profile_pic %}
                      <img src="{{review.author.profile.profile_pic.url}}"
                      class="review_profile_pic" />
                      {% else %}
                      <img src={% static 'quietPlace/img/익명유저사진.png'%}
                      class="review_profile_pic" />
                      {% endif %}
                      <div class="comment__author">
                        <strong class="review-nickname">{{ review.author.profile.nickname }}</strong>
                      </div>
                    </header>
                    <div class="comment__text">
                      {{ review.content }}
                    </div>
                    {% if request.user == review.author %}
                    <a onclick="onReviewDelete({{cafe.id}},{{review.id}})">리뷰 삭제</a>
                    {% endif %}
                  </div>
                {% endfor %%}
              </div>
          </div>
        </div>
      </main>
    </div>
    {% comment %} <script src="https://code.getmdl.io/1.3.0/material.min.js"></script> {% endcomment %}
    <script src="{% static 'quietPlace/js/cafe.js' %}"></script>
    
    <script type="text/javascript">
      naver.maps.Service.geocode({
          address: "{{ cafe.address }}"
      }, function(status, response) {
          if (status !== naver.maps.Service.Status.OK) {
              return alert('주소가 잘못됐나보다..');
          }

          const result = response.result; // 검색 결과의 컨테이너
          const items = result.items[0]; // 검색 결과의 배열
          
          const w = items.point.y;
          const g = items.point.x;
          
          const mapOptions = {
            center: new naver.maps.LatLng(w, g),
            zoom: 16
          };

          const map = new naver.maps.Map('map', mapOptions);

          const marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(w, g),
            map: map
          }); 
      });
    </script>
    <script src="{%static 'quietPlace/js/cafe.js'%}"></script>
  {% endblock content %}