{% extends 'base.html' %} {% load static %} {% load sass_tags %}
{% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% sass_src 'quietPlace/scss/cafeList.scss' %}"
/>

{% endblock style %}

{% block content %}
<div class="container" style="height: 100px"></div>
<div class="cafe-list-container">
  <div class="tag-list">
    {% for tag_button in tag_buttons %}
    <button
      id="{{tag_button.1}}"
      type="button"
      class="filter-tag-button tag-{{tag_button.1}}"
    >
      {{tag_button.0}}
    </button>
    {% endfor %}
  </div>
  <div class="cafe-list">
    {% for cafe in cafes %}
    <div id="{{cafe.id}}-cafe-box" class="cafe-box">
      <div class="cafe-post">
        <a href="{% url 'cafe' id=cafe.id %}">
          <img
            src="https://www.jeongdong.or.kr/static/portal/img/HKPU_04_04_pic1.jpg"
            alt="..."
          />
          <div class="card-box">
            <div class="card-title-box">
              <div href="{% url 'cafe' id=cafe.id %}" class="card-title">
                {{ cafe.cafe_name }}
              </div>
              <div class="card-title-region {{cafe.region}}_positive">{{ cafe.region }} </div>
            </div>
            <div class="card-description-box">{{ cafe.cafe_description }}</div>
          </div>
          <ul class="list-group">
            {% if cafe.tag.chair|slice:"-8:" == "positive" %}
              <li class="list-group-item chair_positive">#의자가 {{cafe.tag.chair|slice:":-10"}} </li>
            {% endif %}
            {% if cafe.tag.table|slice:"-8:" == "positive" %}
              <li class="list-group-item table_positive">#테이블이 {{cafe.tag.table|slice:":-10"}} </li>
            {% endif %}
            {% if cafe.tag.socket|slice:"-8:" == "positive" %}
              <li class="list-group-item socket_positive">#콘센트가 {{cafe.tag.socket|slice:":-10"}} </li>
            {% endif %}
            {% if cafe.tag.bathroom|slice:"-8:" == "positive" %}
              <li class="list-group-item bathroom_positive">#화장실이 {{cafe.tag.bathroom|slice:":-10"}} </li>
            {% endif %}
            {% if cafe.tag.wifi|slice:"-8:" == "positive" %}
              <li class="list-group-item wifi_positive">#와이파이가 {{cafe.tag.wifi|slice:":-10"}} </li>
            {% endif %}
            {% if cafe.tag.volume|slice:"-8:" == "positive" %}
              <li class="list-group-item volume_positive">#{{cafe.tag.volume|slice:":-10"}} </li>
            {% endif %}
            {% if cafe.tag.place_size|slice:"-8:" == "positive" %}
              <li class="list-group-item place_size_positive">#{{cafe.tag.place_size|slice:":-10"}} </li>
            {% endif %}
            {% if cafe.tag.discussion_room|slice:"-8:" == "positive" %}
              <li class="list-group-item discussion_room_positive">#다인원 토론공간이 {{cafe.tag.discussion_room|slice:":-10"}} </li>
            {% endif %}
            {% if cafe.tag.booking_available|slice:"-8:" == "positive" %}
              <li class="list-group-item booking_available_positive">#예약이 {{cafe.tag.booking_available|slice:":-10"}} </li>
            {% endif %}
          </ul>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script src={% static "quietPlace/js/cafeList.js" %}></script>
{% endblock content %}
