{% extends 'quietPlace/base.html' %}
{% load static %}
{% load sass_tags %}
{% block style %}
  <link
      rel="stylesheet"
      type="text/css"
      href="{% sass_src 'quietPlace/scss/index.scss' %}"
    />
{% endblock style %}
{% block content %}
    <section class="vertical-space row">
        <div class="col-12 mb-3">
            <div style="height: 100px;"></div>
        </div>
    </section>
    <div id="Main_landing">
      <div class="Main_intro container">
        <div id="Main_IntroMsg">오늘도 작업할 곳을 찾아 헤매는 여러분께</div>
        <div id="Main_QP"><a>Quiet Place</a></div>
      </div>
      <div id="Main_Button_Container">
        <div>
          <button>
            <a style="color: white" href="#Main_Introduction">Quiet Place가 궁금해요!</a>
          </button>
          <button>바로 시작하기</button>
        </div>
      </div>
    </div>
    <!--여기까지 랜딩 페이지1-->
    <div id="Main_Introduction" class="container-fluid pt-5">
    <section class="vertical-space row" style="background-color:black;">
        <div class="col-12 mb-3">
            <div style="height: 100px;"></div>
        </div>
    </section>
    <div class="text-center">
      <h1 class="mb-5 mt-5">Quiet Place</h1>
      <p class="mb-5">
        온전히 일에 집중할 수 있는 쾌적한 작업 공간 큐레이팅 서비스<br />
        여러분은 작업만 하세요, 장소는 콰이어트 플레이스가 찾아드립니다.
      </p>
    </div>
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-4 g">
          <img src="https://www.jeongdong.or.kr/static/portal/img/HKPU_04_04_pic1.jpg" class="card-img-top img-rounded intro-img" alt="...">
        </div>
        <div class="col-4">
          <img src="https://www.jeongdong.or.kr/static/portal/img/HKPU_04_04_pic1.jpg" class="card-img-top img-rounded intro-img" alt="...">
        </div>
        <div class="col-4">
          <img src="https://www.jeongdong.or.kr/static/portal/img/HKPU_04_04_pic1.jpg" class="card-img-top img-rounded intro-img" alt="...">
        </div>
      </div>
    </div>
    <section class="vertical-space row" style="background-color:black;">
        <div class="col-12 mb-3">
            <div style="height: 100px;"></div>
        </div>
    </section>
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-6 text-center">
          <input class="mr-2"></input>
          <a href="{% url 'cafeList' %}">검색하기</a>
        </div>
        <div class="col-6 text-center">
          <a href="{% url 'recommendation' %}">추천받기</a>
        </div>
        <div class=""></div>
      </div>
    </div>
{% endblock content %}
