{% extends 'base.html' %}
{% load static %} {% load sass_tags %}

{% block style %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
{% endblock style %}

{% block content %}
<div class="android-content mdl-layout__content">
<!--1. 첫화면 시작-->
  <div class="android-be-together-section mdl-typography--text-center" id="top">
    <div class="logo-font android-slogan">Quiet Place</div>
    <div class="logo-font android-sub-slogan">오늘도 작업할 공간을 찾아 헤매는 당신께</div>
    <div class="logo-font android-create-character mainpage-button">
      <button>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="#Main_Introduction">
          Quiet Place가 궁금해요!</a>
      </button>
      <button>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="#Main_Recommendation">
          바로 시작하기</a>
      </button>
    </div>
  </div>

<!--2. introduction section 시작-->
  <div class="android-wear-section android-wear-band" id="Main_Introduction">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src={% static "forHeader/images/woman.jpg" %} class="d-block w-100" alt="..." style="width:100%">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src={% static "forHeader/images/office.jpg" %} class="d-block w-100" alt="..." style="width:100%">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src={% static "forHeader/images/writing.jpg" %} class="d-block w-100" alt="..." style="width:100%">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="android-wear-band-text">
      <div class="mdl-typography--display-2 mdl-typography--font-thin">당신의 취향을 생각하는 작업공간 큐레이팅 서비스</div>
      <p class="mdl-typography--headline mdl-typography--font-thin">
        <p>카페부터 공유오피스까지, 우리 지역에서 내가 작업할 수 있는 공간은?</p>
        <p>당신은 필요한 일만 해요. 검색은 Quiet Place가 할게요!</p>
      </p>
    </div>
  </div>
<!--3. 사진 세개 section 시작-->
  <div class="android-screen-section mdl-typography--text-center" id="Main_Recommendation">
    <div class="mdl-typography--display-1-color-contrast">내게 맞는 공간 추천받기</div>
    <img class="mainpage-arrow" src={% static "forHeader/images/arrow.png"%}>
    <div class="android-screens">
      <div class="android-tv android-screen">
        <a class="android-image-link" href={% url 'cafeList' %}>
          <img class="android-screen-image" src={% static "forHeader/images/writing.jpg" %}>
        </a>
      </div>
      <div class="android-tv android-screen">
        <a class="android-image-link" href={% url 'cafeList' %}>
          <img class="android-screen-image" src={% static "forHeader/images/writing.jpg" %}>
        </a>
      </div>
      <div class="android-tv android-screen">
        <a class="android-image-link" href={% url 'cafeList' %}>
          <img class="android-screen-image" src={% static "forHeader/images/writing.jpg" %}>
        </a>
      </div>
    </div>
  </div>

<!--footer 시작-->
  <footer class="android-footer mdl-mega-footer">
    <div class="mdl-mega-footer--top-section">
      <div class="mdl-mega-footer--left-section">
        <button class="mdl-mega-footer--social-btn"></button>
        &nbsp;
        <button class="mdl-mega-footer--social-btn"></button>
        &nbsp;
        <button class="mdl-mega-footer--social-btn"></button>
      </div>
      <div class="mdl-mega-footer--right-section">
        <a class="mdl-typography--font-light" href="#top">
          Back to Top
          <i class="material-icons">expand_less</i>
        </a>
      </div>
    </div>

    <div class="mdl-mega-footer--middle-section">
      <p class="mdl-typography--font-light">Some features and devices may not be available in all areas</p>
    </div>
    <div class="mdl-mega-footer--bottom-section">
      <img class="footer-likelion-logo" src={% static "forHeader/images/profile.png" %}>
      <a class="android-link android-link-menu mdl-typography--font-light" id="developers-dropdown">
        개발자 괴롭히기..!
        <i class="material-icons">arrow_drop_up</i>
      </a>
      <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
        <li class="mdl-menu__item">김좌훈</li>
        <li class="mdl-menu__item">박평재</li>
        <li class="mdl-menu__item">이지우 wooyou07@snu.ac.kr</li>
      </ul>
      <a class="android-link mdl-typography--font-light" href="#">나만의 공간 등록 신청하기</a>
    </div>
  </footer>
</div>

{% endblock content %}

{% block js %}
  <script type="text/javascript" src={% static 'quietPlace/js/index.js' %}></script>
{% endblock js%}