{% extends 'quietPlace/my_page_base.html' %}
{% load static %} {% load sass_tags %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'quietPlace/scss/mypage_like.scss' %}"/>
{% endblock style %}
{% block content %}
  <div class="likeCafeList_page">
    <div class="cafe-list-heading"><h2>내가 찜한 공간 리스트</h2></div>
    <div class="cafe-list">
    {% for cafe in like_cafes %}
      <div id="{{cafe.id}}-cafe-box" class="cafe-box">
      <div class="cafe-post" style="background-image: url('{{cafe.cafe_photo_set.all.0.cafe_img.url}}')">
        <div class="black-gradiant">
        <a href="{% url 'cafe' id=cafe.id %}">
          <div class="card-box">
            <div class="card-title-box">
              <div href="{% url 'cafe' id=cafe.id %}" class="card-title">
                {{ cafe.cafe_name }}
              </div>
              <li class="card-title-region {{cafe.region}}_positive" style="list-style: none;">{{ cafe.region }} </li>
            </div>
            <div class="card-description-box">{{ cafe.cafe_description }}</div>
          </div>
        </a>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}