{% extends 'quietPlace/my_page_base.html' %}
{% load static %}
{% load sass_tags %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% sass_src 'quietPlace/scss/my_page.scss' %}"/>
{% endblock style %}
{% block content %}
    <div class="hero-wrap js-fullheight" style="background-image: url(forMypage/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="js-fullheight d-flex justify-content-center align-items-center">
        <div class="col-md-8 text text-center">
          <div class="img mb-4" >
            <img class="profile_pic" src="{% static 'forMypage/images/author.jpg' %}"/>
          </div>
          <div class="desc">

            <h2 class="subheading">내 프로필</h2>
            <h1 class="mb-4">{{ user.profile.nickname }}</h1>
            <p class="mb-4">설정한 아이디 : {{ user.get_username }}</p>                
            <p class="mb-4">설정한 이메일 : {{ user.profile.email }}</p><br><br>
            <p><a href={% url 'revise' %} class="btn-custom">프로필 변경하기 ></a>
               <a href={% url 'change_password' %} class="btn-custom">비밀번호 변경하기 ></a></p>           
          </div>
        </div>
      </div>
    </div>
{% endblock %}