<!-- 구글, 네이버 회원가입 추가해라~~~~ -->
<!-- 회원가입 폼 작성시 유효성 검증기능 추가해!!!! -->


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuietPlace</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href={% static "forSignup/fonts/material-icon/css/material-design-iconic-font.min.css" %}>
    <!-- Main css -->
    <link rel="stylesheet" href={% static "forSignup/css/signup.css" %}>
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2 class="form-title">회원 가입</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="username" id="username" placeholder="아이디"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="nickname" id="nickname" placeholder="닉네임"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password"/>
                        </div>
                        <div class="form-group">
                            프로필사진 설정하기: <input type="file" class="form-input" name="profile_pic" id="profile_pic"/>
                        </div>
                        <div>
                            <input type="submit" name="submit" id="submit" class="form-submit" value="가입하기"/>
                        </div>
                    </form>
                </div>
                <p class="loginhere">
                    이미 계정이 있나요? <a href="{% url 'login' %}" class="loginhere-link">Login here</a>
                </p>
            </div>
        </section>
    </div>
    <!-- JS -->
    <script src={% static "forSignup/vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "forSignup/js/main.js" %}></script>
</body>
</html>