#left-img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

#right-img_1 {
  margin-bottom: 5px;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

#right-img_more {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.cafe-photo {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.cafe-photo-left {
  width: 40%;
  height: 30%;
  margin-right: 10px;
}

.cafe-photo-right {
  width: 20%;
}

.cafe-info {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.cafe-info-left {
  width: 40%;
  height: 125px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
}

.cafe-info-left-upper {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cafe-info-left-name {
  margin-bottom: 10px;
  font-size: x-large;
  margin-left: 30px;
}

.cafe-info-right {
  width: 20%;
  height: 125px;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.info-data {
  color: gray;
}

.cafe-info-tags {
  padding: 20px;
  margin-left: 20%;
  width: 60%;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cafe-reviews {
  margin-top: 30px;
}

.cafe-info-tags > img {
  width: 50px;
}

.reviews-title {
  display: flex;
  width: 60%;
  margin-left: 20%;
  justify-content: space-between;
}

.reviews-title-name {
  font-size: xx-large;
  font-weight: 800;
}

.reviews {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 20%;
  width: 60%;
  margin-top: 30px;
}

.review {
  padding: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  width: 100vw;
  height: 20vh;
}

.review-upper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.review-user-profile {
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

.review-user-profile > .profile-img {
  height: 100%;
  max-width: 100%;
  border-radius: 20px;
}
