.landing_page {
  position: relative;
  height: 90vh;
  width: auto;
  background-color: #f3f3f3;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.half {
  width: 45vw
}

.left_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width:auto;
    margin-bottom: 30px;
  }
}

.description-head {
  padding-top: 60px;
}

.right_section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    text-align: left;
    margin-bottom: 40px;
    margin-left: 15px;
    strong {
      font-size: 45px;
      color: rgba(0, 0, 0, 0.822);
    }
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }
  button {
    padding: 10px 15px;
    background-color: #fa5245;
    border-color: #fa5245;
    border-radius: 5px;
    border-style: none;
    margin-left: 10px;
    box-shadow: 3px 3px 3px #00000088;
    a {
      text-decoration: none;
      font-weight: 600;
      color: white;
      font-size: 16px;
    }
  }
}

.mdl-mega-footer--top-section {
  text-align: center;
}